<%- include('../../shared/page/head', { pageTitle: 'All Your Orders' }) %>
</head>
<body>
  <%- include('../../shared/page/header') %>
  <main>
    <%- include('../../shared/page/order-list') %>
  </main>
<%- include('../../shared/page/footer') %>