.cart-item {
  flex-direction: column;
  background-color: var(--color-gray-700);
}

.cart-total {
  flex-direction: column;
}

@media (min-width: 769px) {
  .cart-item {
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-total {
    flex-direction: row;
    justify-content: space-between;
  }
}
