#voucher-content {
  font-size: medium;
  width: 64%;
  height: 70%;
  transform: translate(7%, -50%);
}

#icon {
  width: 3rem;
  height: 3rem;
  transform: translate(-60%, -60%);
}

.buttons {
  bottom: 0;
  transform: translate(-65%, -80%);
  gap: 0.75rem;
}

.buttons button {
  background-color: transparent;
  padding: 0;
}

.exchange-btn {
  font-size: medium;
  background-color: transparent;
  transform: translate(-8%, -85%);
  padding: 0;
}

#my-point {
  margin: 0;
}

@media (min-width: 768px) {
  #voucher-content {
    font-size: x-large;
  }

  .nav {
    width: 50%;
  }

  #icon {
    width: 5rem;
    height: 5rem;
    transform: translate(-70%, -50%);
  }

  .buttons {
    bottom: 50%;
    transform: translate(100%, 50%);
    flex-direction: column;
    gap: 5rem;
  }

  .buttons button {
    padding: var(--space-2) var(--space-4);
  }

  .buttons > :first-child {
    background-color: green;
  }

  .buttons > :last-child {
    background-color: red;
  }

  .exchange-btn {
    font-size: x-large;
    transform: translate(-25%, -95%);
  }

  #my-point {
    position: absolute;
    margin-top: var(--space-4);
  }
}
